body {
  background-color: #e7ecf2;
}
.profile {
  width: 250px;
  height: 330px;
  background-color: #fff;
  text-align: center;
}

.avatar {
  border-radius: 50%;
  margin-top: 20px;
}

.stats {
  list-style: none;
  display: flex;
  padding: 0px;
  padding-left: 45px;
}

.quantity {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  color: rgb(31, 51, 73);
}

.name {
  font-size: 18px;
  color: rgb(18, 34, 54);
  font-weight: bold;
}

.tag {
  font-size: 14px;
  color: rgb(118, 134, 150);
  line-height: 2.286;
  text-align: center;
}

.location {
  font-size: 14px;
  color: rgb(118, 134, 150);
}

.label {
  font-size: 14px;
  color: rgb(118, 134, 150);
}

li {
  margin-right: 20px;
}
