.title {
  font-size: 18px;
  color: rgb(71, 89, 101);
  text-align: center;
}

.statistics {
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px 0px rgba(2, 2, 2, 0.02);
  width: 470px;
}

.statList {
  display: flex;
  list-style: none;
  padding-right: 0px;
  margin: 0;
  justify-content: space-around;
}

.label {
  display: flex;
}
